body {
  font-family: Arial, sans-serif;
  background-color: #23486a;
  margin: 0;
  padding: 0;
  color: aliceblue;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 40px;
  background: #3b6790;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.task-input {
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #efb036;
  border-radius: 4px;
}

.tasks-list {
  list-style: none;
  padding: 0;
}

.tasks-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

.tasks-list li:last-child {
  border-bottom: none;
}

.tasks-list li .delete-btn {
  text-decoration: none;
  margin-left: 10px;
  padding: 5px 10px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.tasks-list li .delete-btn:hover {
  background-color: darkred;
}

#add-task-btn {
  background: #efb036;
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

#add-task-btn:hover {
  background: #db9200;
  color: aliceblue;
}

.completed {
  text-decoration: line-through;
  color: #b3b3b3;
}
